# Host API Configuration
PORT=8000
HOST=0.0.0.0

# Delft3D Executable Binary Path (Optional - leave blank if unconfigured)
DELFT3D_BIN_PATH=

# Google Earth Engine Credentials (Optional - leave blank for default local satellite dataset)
GEE_SERVICE_ACCOUNT=
GEE_PRIVATE_KEY_PATH=
